@model List<CrudMongoDB.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca</h1>
    <p>Veja abaixo a lista dos livros cadastrados!</p>
</div>

<!-- Sessão | Listagem dos Livros Cadastrados -->
<section class="row">
    <div class="col-12">
        <table id="bookTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TÍTULO</th>
                    <th scope="col">SINOPSE</th>
                    <th scope="col">PUBLICAÇÃO</th>
                    <th scope="col">AÇÕES</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int count = 1;
                }
                @foreach (var book in Model)
                {
                    <tr>
                        <th scope="row">@count</th>
                        <td>@book.Name</td>
                        <td>
                            @{
                                string description = "";
                                if (book.Description.Length > 100)
                                {
                                    description = book.Description.Substring(0, 100) + "...";
                                    <span>@description</span>
                                    <a href="#">Ler mais</a>
                                }
                                else
                                {
                                    description = book.Description;
                                    <span>@description</span>
                                }
                            }
                        </td>
                        <td>@book.YearPublish</td>
                        <td>
                            <a href="@Url.Action("FormBook", new { bookId = Convert.ToString(book.Id) })" style="text-decoration: none;" data-toggle="tooltip" data-placement="left" title="Editar">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </a>
                            |
                            <a href="javascript:void(0);" style="text-decoration: none;" data-toggle="tooltip" data-placement="left" title="Remover" onclick="deleteBook('@book.Id');">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    count++;
                }


            </tbody>
        </table>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        if ('@TempData["Sucesso"]' != '') {
            Swal.fire(
                    'Ok',
                    '@TempData["Sucesso"]',
                    'success'
            );
        }

        $(document).ready(function () {
            $('#bookTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                },
                "scrollX": true
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function deleteBook(bookId) {
            Swal.fire({
                title: 'Excluir Livro!',
                text: "Tem certeza que deseja excluir este Livro?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim',
                cancelButtonText: 'Não'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("DeleteBook")?bookId=' + bookId;
                }
            })
        }
    </script>
}